#window {
  border-radius: 5px;
  width: 385px;
}

input {
  background-color: var(--main-bg-color);
}

h1 {
  color: var(--main-text-color) !important;
}

button {
  background-color: var(--main-text-color) !important;
  color: var(--main-bg-color) !important;
}

sub {
  color: var(--text-color) !important;
}
