.text-music-description {
  font-style: italic;
  font-size: 0.9rem;
}

.text-music-description a{
  color: var(--text-color);
}

.placeholder {
  background-color: var(--main-text-color);
  border-radius: 3px;
}
