ul {
  list-style-type: none;
  color: var(--secondary-text-color);
}

.music-title {
  font-weight: bold;
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.music-title:hover {
  color: var(--secondary-text-color);
  text-decoration: underline;
}

.music-description {
  color: var(--text-color);
}

.user-username {
  color: var(--main-text-color);
}

.comment-user a{
  font-style: italic;
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 1rem;
}

.comment-user a:hover{
  text-decoration: underline;
}
