<div id="window">

  @if (music) {
    <div>

      <h1 class="d-flex align-items-center gap-2">
        <strong>{{ music.title }}</strong>
        <span> by </span>
        <strong><a routerLink="/user/{{ music.createdBy.id }}">{{ music.createdBy.username }}</a></strong>
        @if (music?.createdBy?.email === getUsernameFromToken()) {
          <button [routerLink]="['/music/edit', music.id]" class="btn btn-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
            </svg>
          </button>
        }
      </h1>

      <p>
        {{ music.createdAt | timeAgo }} |
        <span>
          {{ commentsCount }} comment{{ commentsCount !== 1 ? 's' : '' }}
        </span>
      </p>

      <p class="description">{{ music.description }}</p>

      <hr>

      @if (music.lyric) {
        <div class="lyric">

          @for (line of getProcessedLyric(); track $index) {
            <div class="lyric-line">

              <!-- acordes -->
              <div class="chords-line">
                @for (chord of line.chords; track $index) {
                  <span
                    class="chord"
                    [style.left.px]="chord.position * 8"
                  >
                    {{ chord.chord }}
                  </span>
                }
              </div>

              <!-- letra -->
              <div class="text-line">
                {{ line.text }}
              </div>

            </div>
          }

        </div>
      }

      <hr>

      <div>
        <h2><strong>Acordes</strong></h2>

        <div class="chords-list">
          @for (chord of getUniqueChords(); track chord) {
            <span class="chord-badge">
              {{ chord }}
            </span>
          }
        </div>
      </div>

      <hr>

      <app-comments
        [musicId]="music.id"
        [musicAuthorId]="music.createdBy.id">
      </app-comments>

    </div>
  } @else {
    <div>

      <div class="placeholder-glow d-flex flex-column gap-2">
        <span class="placeholder title col-12 placeholder-lg d-block" style="width: 35rem;"></span>
        <span class="placeholder col-12 placeholder d-block" style="width: 10rem;"></span>
        <span class="placeholder col-12 placeholder d-block" style="width: 25rem;"></span>
      </div>

      <hr>

      <div class="placeholder-glow d-flex flex-column gap-3">
        <span class="placeholder col-12 placeholder-sm d-block" style="width: 15rem;"></span>
        <span class="placeholder col-12 placeholder-sm d-block" style="width: 10rem;"></span>
        <span class="placeholder col-12 placeholder-sm d-block" style="width: 5rem;"></span>
        <span class="placeholder col-12 placeholder-sm d-block" style="width: 8rem;"></span>

        <br>

        <span class="placeholder col-12 placeholder-sm d-block" style="width: 15rem;"></span>
        <span class="placeholder col-12 placeholder-sm d-block" style="width: 5rem;"></span>
        <span class="placeholder col-12 placeholder-sm d-block" style="width: 8rem;"></span>
        <span class="placeholder col-12 placeholder-sm d-block" style="width: 10rem;"></span>

      </div>

      <hr>

      <div class="placeholder-glow d-flex flex-column gap-2">
        <h2>
          <span class="placeholder title col-12 placeholder-sm d-block" style="width: 20rem;"></span>
        </h2>

        <div class="chords-list">
          <span class="placeholder col-12 placeholder d-block" style="width: 3rem;"></span>
          <span class="placeholder col-12 placeholder d-block" style="width: 5rem;"></span>
          <span class="placeholder col-12 placeholder d-block" style="width: 2rem;"></span>
          <span class="placeholder col-12 placeholder d-block" style="width: 5rem;"></span>
        </div>
      </div>
    </div>
  }
</div>
