#window{
  width: 40rem;
}

@media (max-width: 991px) {
  #window {
    width: 30rem;
  }
}

.lyric {
  font-family: monospace;
}

.lyric-line {
  position: relative;
  margin-bottom: 12px;
}

.chords-line {
  position: relative;
  height: 20px;
}

.chord {
  position: absolute;
  font-weight: bold;
  color: var(--main-text-color);
}

.text-line {
  white-space: pre;
}

p {
  color: var(--secondary-text-color);
}

.description {
  color: var(--text-color);
}

.text-line {
  color: var(--text-color);
}

h1 > span {
  color: var(--secondary-text-color);
  font-weight: lighter;
}

h2 {
  font-size: 1.5rem
}

.chords-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.chord-badge {
  padding: 3px 6px;
  border-radius: 5px;
  background: var(--main-text-color);
  color: white;
  font-weight: bold;
  font-size: 14px;
}
