<!-- Modal Login -->
<app-login-modal #loginModal></app-login-modal>

<div class="container">
  <app-alert
    [type]="alertType"
    [message]="alertMessage">
  </app-alert>
  <div class="comment-section">

    <!-- New Comment Input -->
    <div class="mb-4">
      <div class="d-flex gap-3">
        <div class="flex-grow-1">
          <textarea
            class="form-control comment-input"
            rows="3"
            placeholder="Write a comment..."
            [(ngModel)]="newCommentBody"
          ></textarea>

          <div class="mt-3 text-end">
            <button class="btn btn-comment text-white" (click)="postComment()">
              Post Comment
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Comments List -->
    <div class="comments-list">

      @for (comment of comments; track comment.id) {
        <div class="comment-box mb-3">

          <!-- Comentário principal -->
          <div class="d-flex gap-3">
            <div class="flex-grow-1">

              <div class="d-flex justify-content-between align-items-center mb-2">
                <h6 class="mb-0">
                  <strong><a routerLink="/user/{{ comment.author.id }}">{{ comment.author.username }}</a></strong>

                  @if (comment.author.id === musicAuthorId) {
                    <span class="d-inline-flex ms-2 px-1 fw-semibold text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-2">
                      Author
                    </span>
                  }

                </h6>

                <span class="comment-time" >
                  {{ comment.createdAt | timeAgo }}

                  @if (comment.author.username === loggedUserUsername) {
                    <button (click)="deleteComment(comment.id, musicId)" class="btn btn-outline-danger btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
                    </svg>
                  </button>
                  }
                </span>



              </div>



              <p class="mb-2">
                {{ comment.expanded ? comment.body : getShortText(comment.body) }}

                @if (comment.body.length > readMoreLimitComment) {
                  <button
                    class="read-more btn btn-link p-0"
                    (click)="toggleExpand(comment)"
                  >
                    {{ comment.expanded ? '' : 'Read more' }}
                  </button>
                }
              </p>

              <div class="comment-actions mb-2 d-flex gap-3">
                <button class="btn btn-link p-0" (click)="addLike(comment.id, musicId)">
                  {{ comment.likes }}
                  Like
                </button>

                <button
                  class="btn btn-link p-0"
                  (click)="toggleReplyBox(comment)"
                >
                  Reply
                </button>
              </div>

              <!-- Caixa de reply -->
              @if (comment.showReplyBox) {
                <div class="reply-box mb-2">
                  <textarea
                    [(ngModel)]="comment.newReplyBody"
                    class="form-control"
                    rows="2"
                    placeholder="Write a reply..."
                  ></textarea>

                  <div class="text-end mt-2">
                    <button
                      class="btn btn-sm btn-primary"
                      (click)="postReply(comment)"
                    >
                      Reply
                    </button>
                  </div>
                </div>
              }

              <!-- Replies -->
              @if (comment.replies?.length) {
                <div class="reply-section mt-3">

                  @for (reply of comment.replies; track reply.id) {
                    <div class="comment-box mb-2">
                      <div class="d-flex gap-3">
                        <div class="flex-grow-1">

                          <div class="d-flex justify-content-between align-items-center mb-2">
                            <h6 class="mb-0">
                              <strong><a routerLink="/user/{{ comment.author.id }}">{{ reply.author.username }}</a></strong>

                              @if (comment.author.id === musicAuthorId) {
                                <span class="d-inline-flex ms-2 px-1 fw-semibold text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-2">
                                  Author
                                </span>
                              }

                            </h6>

                            <span class="comment-time">
                              {{ reply.createdAt | timeAgo }}
                            </span>
                          </div>

                          <p class="mb-2">
                            {{ reply.expanded ? reply.body : getShortText(reply.body) }}

                            @if (reply.body.length > readMoreLimitComment) {
                              <button
                                class="read-more btn btn-link p-0"
                                (click)="toggleExpand(reply)"
                              >
                                {{ reply.expanded ? '' : 'Read more' }}
                              </button>
                            }
                          </p>
                        </div>
                      </div>
                    </div>
                  }
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>
    <!-- Pagination -->
    @if (totalPages > 1) {
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

          <li class="page-item" [class.disabled]="currentPage === 0">
            <button
              type="button"
              class="page-link btn-plain"
              (click)="previousPage()"
              [attr.aria-disabled]="currentPage === 0"
            >
              &laquo;
            </button>
          </li>

          @for (page of pages; track page) {
            <li class="page-item" [class.active]="page === currentPage">
              <button
                type="button"
                class="page-link btn-plain"
                (click)="goToPage(page)"
              >
                {{ page + 1 }}
              </button>
            </li>
          }

          <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
            <button
              type="button"
              class="page-link btn-plain"
              (click)="nextPage()"
              [attr.aria-disabled]="currentPage === totalPages - 1"
            >
              &raquo;
            </button>
          </li>
        </ul>
      </nav>
    }
  </div>
</div>
