@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
  --main-bg-color: #EAEBED;
  --secondary-bg-color: #FFFFFF;
  --main-text-color: #006887;
  --secondary-text-color: #98B3BC;
  --text-color: #697e83;
}

* {
  font-family: "Google Sans Flex", sans-serif;
}

body {
  background-color: #EAEBED;
}

#window {
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
}

p {
  color: var(--text-color);
}

h1, h2, h5, h6 {
  color: var(--main-text-color);
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.btn-comment {
  border-radius: 20px;
  padding: 8px 25px;
  background: var(--main-text-color);
  border: none;
  transition: all 0.3s;
}

.btn-comment:hover {
  background: var(--secondary-text-color);
  transform: translateY(-1px);
}

input {
  background-color: var(--main-bg-color);
}

label {
  color: var(--main-text-color) !important;
}

.sub-desc {
  color: var(--main-text-color) !important;
}

.sub-desc a {
  text-decoration: none !important;
}

.sub-desc a:hover {
  text-decoration: underline !important;
}

.chord-badge {
  background: var(--main-text-color);
  color: white;
}

ul {
  list-style-type: none;
}

#login-label {
  background-color: var(--secondary-bg-color);
}
