<h1 class="text-center mb-4"><strong>Sign-in</strong></h1>

<div id="login-label">
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="border p-4 shadow-sm" style="min-width: 350px;">

    <div class="mb-3">
      <label class="form-label">Username</label>
      <input class="form-control form-control-sm" formControlName="username" [class.is-invalid]="signinForm.get('username')?.invalid && signinForm.get('username')?.touched">
      <div class="invalid-feedback">
        Username has to have 3 characters at least.
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control form-control-sm" formControlName="email" [class.is-invalid]="signinForm.get('email')?.invalid && signinForm.get('email')?.touched">
      <div class="invalid-feedback">
        Valid email required
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control form-control-sm" formControlName="password" [class.is-invalid]="signinForm.get('password')?.invalid && signinForm.get('password')?.touched">
      <div class="invalid-feedback">
        Minimum 6 characters
      </div>
    </div>

    <button class="btn btn-primary w-100 btn-sm" type="submit">
      Sign in
    </button>

    <div class="mb-3 text-center">
      <sub class="sub-desc">
        Already have an account? <a routerLink="/login">Login</a>
      </sub>
    </div>

  </form>
</div>
