<h1 class="text-center mb-4"><strong>Login</strong></h1>

<div *ngIf="isRegistered" class="alert alert-success" role="alert">
  Cadastro realizado com sucesso! Faça login para continuar.
</div>

<div *ngIf="warningMsg" class="alert alert-warning" role="alert">
  {{ warningMsg }}
</div>

<div *ngIf="errorMsg" class="alert alert-danger d-flex align-items-center" role="alert">
  <div>
    {{ errorMsg }}
  </div>
</div>

<div id="login-label">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="border p-4 shadow-sm" style="min-width: 435px;">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control form-control-sm" formControlName="email" [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <div class="invalid-feedback">
        Valid email required
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Password</label>

      <input type="password" class="form-control form-control-sm" formControlName="password" [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <div class="invalid-feedback">
        Minimum 6 characters
      </div>
    </div>

    <button class="btn btn-primary w-100 btn-sm" type="submit" [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
      {{ isLoading ? 'Loading...' : 'Login' }}
    </button>

    <div class="mt-3 text-center">
      <sub>
        Are you new here? <a routerLink="/signin">Create your account!</a>
      </sub>
    </div>
  </form>
</div>
